<!-- <footer> -->
  <div class="container footer_con">
    <div class="row no-gutters">
      <div class="col-12 col-md-6 tc tl-md privacy_terms_con">
        <a class="privacy" href="javascript:void(0);">개인정보처리방침</a><a href="javascript:void(0);" class="terms">이용약관</a>
      </div>
      <div class="col-12 col-md-6 tc tr-md footer_logo_con">
        <div class="footer_logo"><img src="../img/logo_footer.png" alt="KRIGA 한국예술영재교육연수원"></div>
      </div>
    </div>
    <div class="row no-gutters">
      <div class="col-12 info_con">
        <p>
          <span class="fw-m fc_orange2">학습관련문의</span> <span class="fw-m">070.1600.0101</span>
          <span>이용문의시간 평일 09:00 - 18:00 (점심시간 12:00 - 13:00)</span>
        </p>
        <p>
          <span>110-360 서울특별시 종로구 창경궁로 215 한국예술영재교육연구원</span>
        </p>
        <p class="copy">
          COPYRIGHT(C)2020 KRIGA. ALL RIGHTS RESERVED.
        </p>
        <div class="top_btn">
          <img src="../img/top_btn.png" alt="TOP">
        </div>
      </div>
    </div>
  </div>
<!-- </footer> -->