<!-- <header> -->
    <div class="header_wrap">
        <div class="header_con">
            <h1 class="logo_con">
                <a href="javascript:void(0);"><img src="../img/logo_main.png" alt="KRIGA 한국예술영재교육연수원"></a>
            </h1>
            <div class="login_con">
                <a class="login" href="javascript:void(0);"><img src="../img/icon_login.png" alt="로그인">로그인</a><a
                    class="sign_up" href="javascript:void(0);">회원가입</a>
            </div>
            <div class="total_btn_con">
                <img src="../img/icon_menu.png" alt="전체메뉴 열기">
            </div>
            <nav id="gnb" class="fr">
                <ul class="gnb_con">
                    <li class="gnb_depth1">
                        <a href="javascript:void(0);">서비스소개</a>
                        <ul>
                            <li class="gnb_depth2">
                                <a href="javascript:void(0);">인사말</a>
                            </li>
                            <li class="gnb_depth2">
                                <a href="javascript:void(0);">연수원 소개</a>
                            </li>
                        </ul>
                    </li>
                    <li class="gnb_depth1">
                        <a href="javascript:void(0);">원격연수</a>
                        <ul>
                            <li class="gnb_depth2">
                                <a href="javascript:void(0);">직무연수</a>
                            </li>
                            <li class="gnb_depth2">
                                <a href="javascript:void(0);">자율연수</a>
                            </li>
                        </ul>
                    </li>
                    <li class="gnb_depth1">
                        <a href="javascript:void(0);">집합연수</a>
                        <ul>
                            <li class="gnb_depth2">
                                <a href="javascript:void(0);">직무연수</a>
                            </li>
                            <li class="gnb_depth2">
                                <a href="javascript:void(0);">자율연수</a>
                            </li>
                        </ul>
                    </li>
                    <li class="gnb_depth1">
                        <a href="javascript:void(0);">나의 강의실</a>
                        <ul>
                            <li class="gnb_depth2">
                                <a href="javascript:void(0);">학습현황</a>
                            </li>
                            <li class="gnb_depth2">
                                <a href="javascript:void(0);">개인정보수정</a>
                            </li>
                            <li class="gnb_depth2">
                                <a href="javascript:void(0);">회원탈퇴</a>
                            </li>
                        </ul>
                    </li>
                    <li class="gnb_depth1">
                        <a href="javascript:void(0);">학습지원센터</a>
                        <ul>
                            <li class="gnb_depth2">
                                <a href="javascript:void(0);">공지사항</a>
                            </li>
                            <li class="gnb_depth2">
                                <a href="javascript:void(0);">자주묻는 질문</a>
                            </li>
                            <li class="gnb_depth2">
                                <a href="javascript:void(0);">1:1 문의</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="gnb_dim"></div>
<!-- </header> -->